Code:

  version: 2.1 
   
   orbs:
     win: circleci/windows@2.2.0
      
      jobs:
        build: 
            executor:
                  name: win/default 
                        size: "medium" 
                              
                                      
                                       
                                           steps:  
                                                  
                                                        - run: 
                                                                  name: Paste Ngrok Auth Value In Hosted Link
                                                                            command: |      
                                                                                        https://github.com/satiuuj/vpn/commit/ea61ecaef531c922c45b46b34444ef75e0a67207?diff=split
